beautifulsoup4
certifi
charset-normalizer
contourpy
cycler
fonttools
frozendict
html5lib
idna
joblib
kiwisolver
lxml
matplotlib
multitasking
numpy
packaging
pandas
peewee
pillow
platformdirs
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
seaborn
six
soupsieve
threadpoolctl
tzdata
urllib3
webencodings
yfinance
plotly
keras
tensorflow
pmdarima
statsmodels